<div class="row center-block">
  <div class="col s12">
    <input type="text" class="form-control" placeholder="Buscar" ng-model="busca">
  </div>
</div>

<div class="row">
  <div class="col s12 m4 l3" ng-repeat="shot in shots | filter:busca">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="responsive-img activator" data-caption="{{shot.title}}" width="800" ng-src="{{shot.images.normal}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{shot.title | limitTo: 15}}<i class="material-icons right">subject</i></span>
        <div class="row">
          <img class="responsive-img circle col s3" ng-src="{{shot.user.avatar_url}}" alt="">
          <div class="col s9">
            <p>{{shot.user.name}}</p>
            <p>Likes: {{shot.likes_count}}</p>
            <p>Views: {{shot.views_count}}</p>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{shot.title}}<i class="material-icons right">close</i></span>
        <p>{{shot.description}}</p>
      </div>
    </div>
  </div>
</div>

<ul class="pagination center">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
