<div class="row center-block">
  <div class="col s12">
    <input type="text" class="form-control" placeholder="Buscar" ng-model="busca">
  </div>
</div>

<ul class="pagination center">
  <li class="waves-effect">
    <a href="" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()"><i class="material-icons">chevron_left</i></a>
  </li>
  <li class="waves-effect" ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
    <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
  </li>
  <li class="waves-effect">
    <a href="" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()"><i class="material-icons">chevron_right</i></a>
  </li>
</ul>

<div class="row">
  <div class="col s12 m4 l3" ng-repeat="shot in shots | filter:busca | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="responsive-img activator" data-caption="{{shot.title}}" width="800" ng-src="{{shot.images.normal}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{shot.title | limitTo: 15}}<i class="material-icons right">subject</i></span>
        <div class="row">
          <img class="responsive-img circle col s3" ng-src="{{shot.user.avatar_url}}" alt="">
          <div class="col s9">
            <p>{{shot.user.name}}</p>
            <p>Likes: {{shot.likes_count}}</p>
            <p>Views: {{shot.views_count}}</p>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{shot.title}}<i class="material-icons right">close</i></span>
        <p ng-bind-html="(shot.description || '') | cleanHTML | linky:'_blank'"></p>
      </div>
    </div>
  </div>
</div>
