.header-image {
  background: url('../img/img-header.jpg') no-repeat;
  background-position: center center;
  height: 400px;
  text-align: center;
  position: relative;

  h1 {
    text-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    color: #fff;
  }
}
